<footer class="mt-5 mb-3">
    <div class="container rounded-img">
        <div class="row box-wrap">
            <div class="col-lg-4 col-md-4 col-12 mb-4">
                <img class="card-img-top mb-5" src="\assets\img\woman.jpg" alt="Card image cap">
                <div class="text-center">
                    <h5>Imię, nazwa firmy</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mb-4">
                <img class="card-img-top mb-5" src="\assets\img\woman.jpg" alt="Card image cap">
                <div class="text-center">
                    <h5>Imię, nazwa firmy</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mb-4">
                <img class="card-img-top mb-5" src="\assets\img\woman.jpg" alt="Card image cap">
                <div class="text-center">
                    <h5>Imię, nazwa firmy</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 jumbotron-border">
                    <h1><fa name="code"></fa></h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-md-4 jumbotron-border">
                    <h1><fa name="globe"></fa></h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-md-4">
                    <h1><fa name="mobile"></fa></h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div> 
        </div>
    </div>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3 text-left small align-self-end">©2020 AtmosferaMedia.</div>
        </div>
    </div>
</footer>
