<section id="about-top">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-lg-3 col-md-12 big-text">
        <h2>O nas</h2>
      </div>
      <div class="col-lg-9 col-md-12 small-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-12">
        <div class="card">
          <img class="card-img-top" src="\assets\img\devices1.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Oferujemy strony internetowe oraz aplikacje przystosowane do wyświetlania na różnych urządzeniach.</p>
            <p>Oferujemy strony oparte na...</p>
            <p>Podczas pracy korzystamy z...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="numbered-content" id="steps">
  <div class="container">
    <header class="section-header">
      <h2>Etapy naszej pracy:</h2>
    </header>
                  <div class="numbered-content-element">
                      <div class="count hide-mobile">01</div>
                      <div class="content">
                          <h3><span class="hide-desktop">01</span> Analiza</h3>
                          <div class="text">
                        <p>Proces projektowania stron internetowych rozpoczynamy od określenia potrzeb oraz oczekiwań klienta.
                        </p>
                        </div>
                      </div>
                  </div>
                  <div class="numbered-content-element">
                      <div class="count hide-mobile">02</div>
                      <div class="content">
                          <h3><span class="hide-desktop">02</span> Planowanie</h3>
                          <div class="text">
                        <p>Po zapoznaniu się z potrzebami i oczekiwaniami klienta oraz analizie jego konkurencji opracowujemy wstępnej koncepcji układu podstron, systemu nawigacji oraz prezentacji treści na stronach.</p>
                        </div>
                      </div>
                  </div>
                  <div class="numbered-content-element">
  
                      <div class="count hide-mobile">03</div>
                      <div class="content">
                          <h3><span class="hide-desktop">03</span> Tworzenie strony</h3>
                          <div class="text">
                          <p>Zaczynamy od cięcia layoutu, następnie kodujemy stronę w wybranej wcześniej technologii. Na koniec podstrony są wypełniane treścią.</p>
                        </div>
                      </div>
                  </div>
                  <div class="numbered-content-element">
                    <div class="count hide-mobile">04</div>
                    <div class="content">
                        <h3><span class="hide-desktop">04</span> Uruchomienie</h3>
                        <div class="text">
                        <p>Strona zostaje przedstawiona klientowi. Po akceptacji umieszczamy kod na docelowym serwerze.</p>
                      </div>
                    </div>
                </div>
  
  </div>
</section>
