<div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-lg-3 col-md-12 big-text">
        <h2 id="kontakt">Kontakt</h2>
      </div>
      <div class="col-lg-9 col-md-12 small-text">
        <p><fa name="phone"></fa> <a href="tel:+48 111 222 333"> +48 111 222 333</a><br/>
          <fa name="envelope"></fa> <a href="mailto:nazwa@nazwa@gmail.com"> nazwa@nazwa@gmail.com</a><br/>
            ul. Nazwa<br/>
            12-345 Miasto</p>
            <p>W przypadku jakichkolwiek pytań lub wątpliwości zapraszamy do kontaktu!</p>
      </div>
      
    </div>
</div>
