<section id="works">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-lg-3 col-md-12 big-text">
        <h2>Nasze prace</h2>
      </div>
      <div class="col-lg-9 col-md-12 small-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
      <div class="row mt-5 mb-5">
          <div class="col-lg-4 col-md-12 mb-3">
              <div class="card">
                  <img class="card-img-top" src="\assets\img\devices1.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Nazwa strony</h5>
                    <p class="card-text">Kilka słów o stronie i użytej technologii</p>
                    <a href="#" class="btn btn-primary">Link do strony</a>
                  </div>
                </div>
          </div>
          <div class="col-lg-4 col-md-12 mb-3">
              <div class="card">
                  <img class="card-img-top" src="\assets\img\devices1.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Nazwa strony</h5>
                    <p class="card-text">Kilka słów o stronie i użytej technologii</p>
                    <a href="#" class="btn btn-primary">Link do strony</a>
                  </div>
                </div>
          </div>
          <div class="col-lg-4 col-md-12 mb-3">
              <div class="card">
                  <img class="card-img-top" src="\assets\img\devices1.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Nazwa strony</h5>
                    <p class="card-text">Kilka słów o stronie i użytej technologii</p>
                    <a href="#" class="btn btn-primary">Link do strony</a>
                  </div>
                </div>
          </div>
          <div class="col-lg-4 col-md-12 mb-3">
            <div class="card">
                <img class="card-img-top" src="\assets\img\devices1.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nazwa strony</h5>
                  <p class="card-text">Kilka słów o stronie i użytej technologii</p>
                  <a href="#" class="btn btn-primary">Link do strony</a>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-3">
          <div class="card">
              <img class="card-img-top" src="\assets\img\devices1.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Nazwa strony</h5>
                <p class="card-text">Kilka słów o stronie i użytej technologii</p>
                <a href="#" class="btn btn-primary">Link do strony</a>
              </div>
            </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-3">
        <div class="card">
            <img class="card-img-top" src="\assets\img\devices1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nazwa strony</h5>
              <p class="card-text">Kilka słów o stronie i użytej technologii</p>
              <a href="#" class="btn btn-primary">Link do strony</a>
            </div>
          </div>
    </div>
      </div>
  </div>
</section>
