<section id="offer">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 mb-5">
                <div class="card text-center">
                    <div class="card-header">
                      Wycena indywidualna
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Strona internetowa <fa name="cog" animation="spin"></fa></h5>
                      <p class="card-text">Koszt jest uzależniony od funkcjonalności umieszczonych na stronie oraz ilości podstron/sekcji.</p>
                      <a href="tel:" class="btn btn-primary">Zadzwoń do nas</a>
                    </div>
                    <div class="card-footer text-muted">
                        <div><fa name="database"></fa> Obsługa bazy danych i serwerów</div>
                        <div><fa name="globe"></fa> Utworzenie strony internetowej</div>
                        <div><fa name="at"></fa> Pomoc w konfiguracji domeny</div>
                        <div><fa name="calendar"></fa> Atrakcyjne terminy wykonania prac</div>
                        <div><fa name="table"></fa> Pomoc w konfiguracji raportów (Google Analytics)</div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card text-center">
                    <div class="card-header">
                      Wycena indywidualna
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Aplikacja mobilna <fa name="cog" animation="spin"></fa></h5>
                      <p class="card-text">Koszt jest uzależniony od funkcjonalności umieszczonych w aplikacji.</p>
                      <a href="tel:" class="btn btn-primary">Zadzwoń do nas</a>
                    </div>
                    <div class="card-footer text-muted">
                        <div><fa name="database"></fa> Obsługa bazy danych i serwerów</div>
                        <div><fa name="mobile"></fa> Utworzenie aplikacji</div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card text-center">
                    <div class="card-header">
                      Wycena indywidualna
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Abonament czasowy <fa name="cog" animation="spin"></fa></h5>
                      <p class="card-text">Jeśli strona potrzebuje aktualizacji oraz monitorowania działań, chętnie zajmiemy się tym!</p>
                      <a href="tel:" class="btn btn-primary">Zadzwoń do nas</a>
                    </div>
                    <div class="card-footer text-muted">
                        <div><fa name="database"></fa> Obsługa bazy danych i serwerów</div>
                        <div><fa name="tools"></fa> Pomoc w przypadku problemów</div>
                        <div><fa name="at"></fa> Pomoc w konfiguracji domeny</div>
                        <div><fa name="table"></fa> Pomoc w konfiguracji raportów (Google Analytics)</div>
                        <div><fa name="retweet"></fa> Aktualizacja treści</div>
                        <div><fa name="envelope"></fa> Raporty email</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
