* {
    box-sizing: border-box;
    color: #07093D;
  }

html, body { 
    margin: 0;
    height: 100%;
    background-color: #EEEEEE!important;
}

.container {
    margin: 0 auto;
    width: 1400px;
    max-width: 90%;
}

.mat-drawer-container {
    background-color: #EEEEEE!important;
}

.mat-toolbar.mat-primary {
    background-color: #EEEEEE!important;
    
}

.mat-toolbar-row, .mat-toolbar-single-row {
    box-shadow: 0 8px 6px -6px #e2e2e2;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}

// Header

a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

// Text with left border

.big-text {
    text-align: right;
    padding: 0 30px 20px 0;
    margin: 0;
    border-right: 4px solid #00b6f9;
    margin: 0;

    h2 {
        line-height: 50px;
    }
}

.small-text {
    padding: 5px 30px 0;
    font-size: 18px;
}

@media screen and (max-width: 991px) {

    .big-text {
      border-right: none;
      text-align: left;
    }

    .small-text {
      padding: 0;
    }
}

// Mat-nav-list
a {
    text-decoration: none;
    color: #07093D;
}
 
a:hover, a:active{
    color: #0B108C;
}
 
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

.mat-drawer {
    background-color: #e2e2e2!important;
}