<section id="home">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-lg-3 col-md-12 big-text">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
      </div>
      <div class="col-lg-9 col-md-12 small-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="row box-wrap">
      <!--Start Grid column-->
      <div class="col-lg-8 col-md-12 mb-4 box">
        <div class="big-rec">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="small-rec mb-4 box">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="small-rec box">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <!--End Grid column-->
    </div>
    <div class="row box-wrap">
      <!--Start Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="small-rec mb-4 box">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      <div class="small-rec box">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 mb-4 box">
        <div class="big-rec">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <!--End Grid column-->
    </div>
  </div>
</section>
